a{
    color: #696969;
    font-size: 18px;
    font-family: DM Sans;
    text-decoration: none;
    
}



.container{
    background-color: rgb(254, 243, 231);
    border-radius: 25px;
    width: 60%;

}

.wrapper{
    column-gap: 15px;
    padding: 10px;
}

.card{
    margin: 34px;
    border-color: #cecece;
    border: 1;
    border-style: solid;
    padding: 16px;
}

